[Unit]
Description=RSCA Monitoring Command Client
BindTo=network.target
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/sbin/rsca --watchdog
Type=simple
User=root
Group=root
Restart=always
RestartSec=11
WatchdogSec=120
