[Unit]
Description=RSCA Monitoring Command Acceptor
BindTo=network.target
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/sbin/rscad --watchdog
Type=simple
User=nagios
Group=nagios
Restart=always
RestartSec=3
WatchdogSec=90
